go.work
*.godot*
*.so
*.dylib
*.wasm
*library.gdextension
go.work.sum
/2d/hello_triangle/graphics/main.tscn
*export_presets.cfg
*library_documentation.xml
extension_api.json
package-lock.json
dist
node_modules
internal/graphics
releases/
**/graphics/.gitignore
