/api.json
/example/.godot/
/example/bin/hello.so
/example/bin/hello.h
/.vscode/settings.json
/example/src/src
/example/bin/example.so
example/bin/
/bin/example.so
/gdextension/header.h
/go.work
/extension_api.json
