/api.json
/example/.godot/
/example/bin/hello.so
/example/bin/hello.h
/.vscode/settings.json
/example/src/src
/example/bin/example.so
example/bin/
/bin/example.so
/gdextension/header.h
/gdextension/extension_api.json
/go.work
/extension_api.json
/internal/testbed/.godot
/internal/testbed/testing.lib
/internal/graphics
/.vscode/launch.json
